<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hello</title>
  </head>
  <body>
      <div>
          <form class="ui large form segment">
            <h3 class="ui header">Add a link</h3>
            <div class="field">
              <label for="title">Title:</label>
              <input name="title" #newtitle>
            </div>
            <div class="field">
              <label for="link">Link:</label>
              <input name="link" #newlink>
            </div>
            <button (click)="addArticle(newtitle,newlink)"
                  class="ui positive right floated button">Submit</button>
          </form>
          <div class="ui grid posts">
            <article *ngFor="#art of articles" [article]="art"></article>
          </div>
      </div>

  </body>
</html>
